body{
    background-color: black;
    color: white;
}   
.card{
    background-color: #333;
}
.none{
    display: none;
}
.checked{
    background-color:gray ;
    text-decoration: line-through;
}
.block {
    display: block;
}